body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  height:15vh;
  background-color: orange;
  color: white;
}

header span{
  font-size: 1.5vw;
}

.signup-page{
  width: 60vw;
  padding-left: 10vw;
  height: 110vh;
  padding-bottom: 10vh;
}

.signup-page button{
  border: none;
  background-color: orange;
  color: white;
  font-size: large;

}
h2{
  color: orange;
}